# --- CORE API ---
fastapi>=0.100.0
uvicorn>=0.22.0
pydantic-settings>=2.0.0
python-dotenv>=1.0.0
httpx
psutil
loguru
slowapi>=0.1.8

# --- INFERENCE ENGINE ---
# We use the runtime only (much smaller than 'onnx')
onnxruntime>=1.15.0  
numpy

# --- TOKENIZATION ---
tokenizers>=0.13.0

# --- DATABASE ---
pinecone[asyncio]